@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url("../images/lion-hero.jpg");
    height: 600px;
    background-size:cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.information {
    text-align: center;
    color: white;
}

.hero p {
    color: white;
    padding:20% 25% 15% 25%;
    position: relative;
    text-align: center;
    font-family: 'Chicle', cursive;
    font-size: larger;
}

/* Displays Sections Side-by-Side */

.gallery, .animals, .news{
    display: inline-flex;
    border: 20px solid gold;
    font-family: 'Chicle', cursive;
    height: 200px;
    width: 33.15%;
    padding: 20% 15% 15% 15%;
    color: white;
}

.animals {
    background-image: url("../images/lemur.jpg");
    background-size: cover;
    background-position: center;
}

.gallery {
    background-image: url("../images/chimp.width-2500.jpg");
    background-size: cover;
    background-position: center;
}

.news {
    background-image: url("../images/babypanda.jpg");
    background-size: cover;
    background-position: center;
}

/* Zoom in Effect on Hover */

.gallery:hover {
    transform: scale(1.125);
    transition: all 0.5s ease-in;
}

.animals:hover {
    transform: scale(1.125);
    transition: all 0.5s ease-in;
}

.news:hover {
    transform: scale(1.125);
    transition: all 0.5s ease-in;
}

a {
    all: unset;
}